body {
  color: #000000;
}

address {
  font-style: normal;
}
.header {
  padding-right: 50px;
  padding-left: 50px;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: #000000;
}
.header_menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 22px;
  width: 391px;
  justify-self: start;
}
.header_links_list {
  display: flex;
  gap: 35px;

  padding: 0;
  margin: 0;
  list-style: circle;
}
.header_links-list-item_no-bullit {
  list-style: none;
}
.header_link {
}
.header_link_active {
  text-decoration: none;
}

.address {
  font-weight: 400;

  font-size: 18px;

  line-height: 24.3px;
  letter-spacing: 0%;
  width: 240px;
  height: 98px;
  border-width: 1px;
  justify-self: end;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.cover {
  position: relative;
  min-height: 757px;
  max-width: 1100px;
  background-image: url(../img/lotus-flower.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 50px;
  padding-right: 50px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  max-width: 1100px;
}
.cover__title,
.cover_description {
  position: relative;
  z-index: 2;
}
.cover__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  color: white;
  text-transform: uppercase;
  padding-top: 165px;
  min-width: 1000px;
  min-height: 385px;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.cover__description {
  min-width: 1000px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}
.cover__description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  z-index: 2;
  word-spacing: 110%;
}
.bet-button {
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  z-index: 2;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
}

.lots {
  min-width: 1052px;
  min-height: 723px;
  margin: 180px 24px 120px 24px;
}
.lots__heading {
  font-size: 40px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  min-width: 334px;
  min-height: 596px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  border: 1px;
}
.lots__card-list-item {
  width: 334px;
  flex-shrink: 0;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
}
.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: white;
}
.card_type_film {
  background-image: url(../img/lot-left.png.jpg);
  background-size: cover;
  background-position: cover;
  box-sizing: border-box;
}
.card_type_book {
  background-image: url(../img/lot-center.png.png);
  background-size: cover;
  background-position: cover;
  box-sizing: border-box;
}
.card_type_picture {
  background-image: url(../img/lot-right.png.jpg);
  background-size: cover;
  background-position: cover;
  box-sizing: border-box;
}
.overlay_lots {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
}
.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}
.card__text {
  font-style: Bold;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}
.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.about {
  width: 1052px;
  height: 595px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 180px;
}
.about_colum {
}
.about_logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.about_logo-image {
  width: 148px;
  height: 104px;
}
.about_title {
  margin-top: 133px;
  font-size: 40px;
  margin-bottom: 100px;

  font-weight: 700;
  font-style: Bold;
  font-size: 40px;

  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.about_text {
  width: 693px;
  height: 312px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.about_colum-right {
  width: 693px;
  height: 449px;
}
.about_colum-left {
  width: 240px;
  height: 240px;
  margin-top: 35px;
}
footer {
  height: 180px;
  width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.address-footer {
  width: 264.5735px;
  height: 98px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}
.footer_menu {
  width: 163.89999389648438px;
  height: 64;
  border: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-align: center;
}
.footer_link_active {
  text-decoration: none;
}
.socials-itams {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.footer_itams {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
a {
  color: #000000;
}
